.all-contain{
	max-width: 1366px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 5px 5px 1px gray;
}


@font-face {
  font-family: "OpenSans-Bold";
    src: url(../source/fonts/OpenSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "OpenSans";
    src: url(../source/fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "Roboto-Light";
    src: url(../source/fonts/Roboto-Light.ttf) format("truetype");
}

@font-face {
	font-family: "Hellix-Bold";
    src: url(../source/fonts/Hellix/Hellix-Bold.ttf) format("truetype");
}

body {
/*	background-color: #212529 ;*/
	background-color: #fff;
}

.nav-link {
	color: white !important;
	font-size: 14pt;
	font-family: 'OpenSans-Bold';
}

.nav-link:hover {
  color: #C59E47;
  border-bottom: 2px solid #C59E47;
}

.active {
	color: #C59E47 !important;
  border-bottom: 2px solid #C59E47;
}

.navbar-expand {
	height: 100px;
	display: flex;
}

.responsive {
	width: 100%;
	max-width: 80px;
	height: auto;
}

.card-header {
	font-size: 20px;
	font-family: 'OpenSans-Bold';
}

.card-text {
	font-size: 16px;
	font-family: 'OpenSans'
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.4);
	transition: 0.4s;
}

a.link-to {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

/*.linked {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(29, 106, 154, 0.72);
	color: #fff;
	visibility: hidden;
	opacity: 0;
}

.card:hover .linked{
	visibility: visible;
	opacity: 1;
}

.card:hover .desc{
	visibility: hidden;
	opacity: 1;
}*/

.section-title {
	font-family: 'Hellix-Bold';
	font-weight: 900;
	font-style: 'bold';
}

.greeting {
	font-family: 'OpenSans-Bold';
	font-size: 40px;
}

.greeting-desc {
	font-family: 'OpenSans';
	font-size: 18px;
	line-height: 1.5;
	text-align: justify;
	text-justify: inter-word;
	hyphens: manual;
}

.skill-point {
	font-family: 'OpenSans';
	font-size: 20px;
}